html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/*.navtop{*/
/*background-color: #fafafa;*/
/*color: black;*/
/*border-top: solid 4px lightskyblue;*/
/*}*/
.iconesnav {
    float: right;
    font-size: 2px;
}

.tamanhoicones {
    font-size: 20px;
    margin-right: 2px;
}

.linha-select{
    border-bottom: 1px solid #0f7b9f;
}

.div-color{
    background-color: light-grey;
    height: 100%;
}

.tamanhoimgdiv{
    margin-top: 15px;
    width: 90%;
    height: 90%;
}


.dentrodropdown {
    border-top: solid 3px #33C3F0;
    border-bottom: solid 3px #33C3F0;
    padding-top: 2px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    text-align: center;
}

.dentrodropdown button {
    width: 200px;
    height: auto;
}

#botaoface {
    background-color: darkblue;
    color: white;
    margin-bottom: 5px;
}

#botaogoogle {
    background-color: white;
    color: black;
    margin-bottom: 5px;
}

#botaomail {
    background-color: #ffe887;
    color: black;
    margin-bottom: 5px;
}

/* Menu lateral */
/* Some ao diminuir tela/mobile */
@media only screen and (max-width: 550px) {
    #mobileoff {
        display: none;
        visibility: hidden;
    }
}

.boxusuario {
    visibility: hidden;
    float: left;
    position: relative;
    display: inline;
}

@media only screen and (max-width: 1000px) {
    .boxusuario {
        visibility: visible;
        padding-right: 15px;
        font-size: 20px
    }
}

@media only screen and (max-width: 1000px) {
    .menucelular {
        visibility: visible;
        line-height: 100px;
        padding-right: 15px;
        font-size: 20px;
        float: left;
        position: relative;
    }
}

.menu-direito-eventos {
    width: 100%;
    background-color: red;
}

.dentromenu {
    border-top: solid 4px red;
}

.teste1 {
    float: left;
    left: 50%;
    margin-bottom: 30px;
}

.menufloat {
    float: left;
    position: relative;
}

.menueventos {
    float: right;
    width: 100%;
    font-size: 10px;
    margin-bottom: 10px;
}

.menueventos li {
    margin-left: 20px;
    margin-bottom: 0;
}

.menueventos li a {
    margin-bottom: 0;
    height: 5px;
}

.menueventos li a:hover {
    margin-bottom: 0;
    height: 5px;
    line-height: 10px;
    background-color: transparent;
}

.menuopcoes {
    width: 100%;
    float: right;
}

.menuopcoes-selecionar {
    font-size: 14px;
    height: 40px;
    padding: 40px;
    color: #585858;
}

.marginesquerda {

}

.modaltop {
    border-top: solid 3px #33C3F0;
}

.itens-modal {
    margin-top: 5%;
}

.itens-modal a i {
    color: #93AFBA;
    padding: 5px;
    margin-left: 15px;
    font-size: 26px;
}

.itens-modal ul li .home {
    float: left;
    width: 100%;
    line-height: 10px;
    text-align: center;
}

.itens-modal ul li .correio {
    float: left;
    width: 100%;
    line-height: 10px;
    text-align: center;
}

.itens-modal ul li .notificacao {
    float: left;
    width: 100%;
    line-height: 10px;
    text-align: center;
}

.itens-modal ul li .ajuda {
    float: left;
    width: 100%;
    line-height: 10px;
    text-align: center;
}

.nav-space {
    width: 100%;
    height: 60px;
}

.espacamentomenu {
    margin-top: 25px;
}

.rodape {
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 4px;
}
.borda-lat{
    border-right: solid 1px lightgray;
}
.box-separation{
    width: 1px;
    float: right;
    position: absolute;
}

.rodape img {
    width: 120px;
    height: 25px;
}

.rodape span {
    font-size: 15px;
}

.recents {
    font-size: 12px;
    color: #888888;
}

.hr-divider {
    color: #fafafa;
    border-bottom: solid 1px #DCDCDC;
    padding-top: 5px;
}

.termopolitica {
    font-size: 9px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:focus, .btn-facebook.focus {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus, .btn-google.focus {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
    color: #fff;
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft {
    color: #fff;
    background-color: #2672ec;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:focus, .btn-microsoft.focus {
    color: #fff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:hover {
    color: #fff;
    background-color: #125acd;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-block {
    display: block;
    width: 100%;
}

.btn1 {
    display: block;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.contas-fontes {
    font-size: 14px;
    text-align: left;
    margin-top: 0;
    margin-bottom: -10px;
}

.sub-contas-fontes {
    color: #888888;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    margin-top: 1px;
}

.btn-criarconta {
    background-color: #33C3F0;
    color: white;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-criarconta:focus, .btn-criarconta.focus {
    color: black;
    background-color: #fffff;
    border-color: rgba(0, 0, 0, 0.2)
}

.btn-criarconta:hover {
    color: white;
    background-color: #0073e6;
    border-color: rgba(0, 0, 0, 0.2)
}

.marginbaixo {
    margin-bottom: 4rem;
}

.btncancelar {
    background-color: white;
    color: black;
}

.btncancelar:hover {
    background-color: #33C3F0;
    color: white;
}

.btncriar {
    background-color: #33C3F0;
    color: white;
}

.btncriar:hover {
    background-color: white;
    color: black;
    border-bottom: solid 2px #33C3F0;
}

.center1 {
    position: center;
    margin-bottom: 0;
}

.preferencia-text {
    color: black;
}

.posicaocentro {
    left: 50%;
}

.esqueceusenha {
    color: cornflowerblue;
}

.concordotermo {
    margin-bottom: 2rem;
}

.border-separation {
    border-bottom: 1px solid #888;
}

.card-align {
    margin-top: 2%;
    position: center;
}

.badgecima {
    float: left;
    position: relative;
}

.badgecima2 {
    float: left;
    position: relative;
}
nav div li a:hover {
    color: #33C3F0;
    margin-top: 1px;
}

nav div li a{
}
.divisaoicones{
    height: 3px;
    width: 1em;
    color: black;
    border-right: 3px red;
}
.join-account{
    font-size: 12px;
    margin-bottom: 10px;
}
.border-bottom{
    border-bottom: solid 4px #33C3F0;
}
.border-bottom-fina{
    border-bottom: solid 2px #33C3F0;
}
.border-bottom-card{
    border-bottom: solid 2px #33C3F0;
}
.aviso-navegation-txt{
    font-family: 2px; 
}

.texto-recsenha{
    margin-top: 10px;
    float: left;
}

.dropdown-item{
    display: block;
    overflow: hidden;
    padding: 4px 10px 4px 16px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown-menu{
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px #93AFBA;
    left: 0;
    list-style: none;
    margin-top: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    top: 100%;
    width: 160px;
    z-index: 100;
    border-bottom: solid 3px #33C3F0;
}
.title-dropdown-user-logado{
    line-height: 10px;
    padding: 15px;
}
.sub-menu{
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    padding: 15px;
    z-index: 9999;
    color: grey;
}
.tamanholi{
    width: 100%;
}
.cormenu2{
    color: #6E6E6E;
}
.iconemenumargem{
    margin-right: 0;
    z-index: 99999;
}
.nome-dropdown{
    padding 5px;
}